.expense-item {
  display: flex;
  align-items: center;
  gap: 16px;
  background: #3f3f3f;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 16px;
}

.expense-item__title {
  flex: 1;
  margin: 0;
  text-align: center;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 700;
}
